<h1 align="center">家を...探して...</h1>
<div class="gazou">
    <img src="/assets/white.png" id="neko" onmouseover="mouseOnNeko();" onmouseout="mouseOffNeko();" width="300" height="200" />
</div>

<div class="gazou">
    <img src="/assets/white.png" id="sirakawa" onmouseover="mouseOnSirakawa();" onmouseout="mouseOffSirakawa();" width="300" height="200" />
</div>

<div class="gazou">
    <img src="/assets/white.png" id="ragudoru" onmouseover="mouseOnRagudoru();" onmouseout="mouseOffRagudoru();" width="300" height="200" />
</div>

<div class="gazou">
    <img src="/assets/white.png" id="fujisan" onmouseover="mouseOnFujisan();" onmouseout="mouseOffFujisan();" width="300" height="200" />
</div>

<div class="gazou1">
    <img src="/assets/white.png" id="goutei" onmouseover="mouseOnGoutei();" onmouseout="mouseOffGoutei();" width="300" height="200" />
</div>

<div class="gazou1">
    <img src="/assets/white.png" id="nekoirasuto" onmouseover="mouseOnNekoirasuto();" onmouseout="mouseOffNekoirasuto();" width="300" height="200" />
</div>

<div class="gazou1">
    <img src="/assets/white.png" id="ramen" onmouseover="mouseOnRamen();" onmouseout="mouseOffRamen();" width="300" height="200" />
</div>

<div class="gazou1">
    <img src="/assets/white.png" id="ruby" onmouseover="mouseOnRuby();" onmouseout="mouseOffRuby();" width="300" height="200" />
</div>
